<div class="options_buttons position-relative">
    <div class="position-absolute top-0 end-0">
        <i class="fa-solid fa-bars options_menu m-2 m-sm-4 on_mouse" data-bs-toggle="modal" data-bs-target="#options"></i>
    </div>
</div>
<div class="board_header d-flex flex-row justify-content-center align-items-center pt-4 mb-4">
    <h1 class="board_title m-0">
        {{selectedBoard.name}}
        <i class="fa-solid fa-caret-down board_menu ms-3 mt-1 mt-sm-2 on_mouse position-absolute" data-bs-toggle="dropdown" data-bs-auto-close="outside"></i>
        <div class="dropdown">
            <div class="dropdown-menu p-3">
                <label class="form-label m-0 mb-1">Boards</label>
                <ul class="m-0 p-0 list-group">
                    <li class="list-group-item m-0 p-1" *ngFor="let board of boards"
                        [ngClass]="{'active': board.isActual , 'board_active':board.isActual , 'board_deactive': !board.isActual}"
                        (click)="onChangeBoard(board)"
                    >
                        {{board.name}}
                    </li>
                </ul>
                <hr class="dropdown-divider"> 
                <form>
                    <label class="form-label m-0 mb-1 edit_text text-secondary">Edit board name</label>
                    <input type="text" class="form-control" id="tableName" placeholder="Table name" name="tableName" 
                        [(ngModel)]="selectedBoard.name" (ngModelChange)="updateBoard()"
                    >
                    <div class="d-grid mt-1">
                        <button type="button" class="btn btn-danger p-0" (click)="onDeleteBoard()">Delete</button>
                    </div>
                </form>
            </div>
        </div>
    </h1>
</div>
<div cdkDropListGroup class="row w-100 justify-content-center g-0">
    <app-table *ngFor="let table of selectedBoard.tables" (deleteTable)="deleteTable(table)"
        [table]="table" [moreTables]="moreTables" (newTableName)="updateTable($event)" 
        (updateTables)="updateTables($event)"
        class="col-md"
    ></app-table>
</div>

<app-options (newBoard)="newBoard()" (newTable)="newTable()" (updateData)="updateData()"></app-options>