<div>
    <div class="table_header d-flex justify-content-center align-items-center" *ngIf="moreTables">
        <h2 class="table_title m-0">
            {{actualTable.name}}
            <i class="fa-solid fa-pen-to-square board_menu ms-2 mt-0 mt-sm-1 mt-xl-2 on_mouse position-absolute" data-bs-toggle="dropdown" data-bs-auto-close="outside"></i>
            <div class="dropdown">
                <div class="dropdown-menu p-2">
                    <form>
                        <div id="tableNameHelp" class="form-text text_help mt-0">Edit table name</div>
                        <input type="text" class="form-control" id="tableName" placeholder="Table name" name="tableName" 
                            [(ngModel)]="actualTable.name" (ngModelChange)="onUpdate()"
                        >
                        <div class="d-grid mt-1">
                            <button type="button" class="btn btn-danger p-0" (click)="onDelete()">Delete</button>
                        </div>
                    </form>
                </div>
            </div>
        </h2>
    </div>
    <div>
        <div class="vl d-none d-md-block " *ngIf="moreTables && !isFirstTable"></div>
        <div class="app align-items-center mb-0 justify-content-center"
            cdkDropList [cdkDropListData]="table" cdkDropListOrientation="horizontal"
        >
            <div *ngFor="let note of actualTable.notes" 
                cdkDrag (cdkDragDropped)="onDropped($event)"
                [cdkDragData]="note"
            >
                <app-note class="d-inline-block" 
                    [note]="note" (onNewText)="updateNote($event)" 
                    (onDelete)="deleteNote(note)"
                ></app-note>
            </div>
            <app-add-button class="d-inline-block" (btnClick)="addNote()"></app-add-button>
        </div>
    </div>
</div>